<div class="flex flex-col items-center justify-start">
  <div class="flex gap-5 mb-3">
    <span>{{ formatedDate }}</span>
    <span>{{ translate("attempts", "Attempts") }}:</span>
    <span class="-ml-4">{{ totalAttempts }}</span>
  </div>
  @for (currentTry of tries; track currentTry) {

  <div class="flex flex-col mb-4">
    <div class="flex items-center justify-center">
      @for (number of currentTry.numbers; track number) {
      <div class="custom-span custom-span-disabled">{{ number }}</div>
      }
    </div>
    <div class="flex flex-col mx-4 mt-1.5">
      <div class="flex gap-1 text-xl">
        <span>&#8226; {{ currentTry.correctPositionCount }}</span>
        <span>
          {{ translate("correctPosition", "in the correct position") }}
        </span>
      </div>
      <div class="flex gap-1 text-xl">
        <span>&#8226; {{ currentTry.wrongPositionCount }}</span>
        <span>
          {{ translate("wrongPosition", "in the wrong position") }}
        </span>
      </div>
    </div>
  </div>

  } @if(!correct){
  <app-custom-form-input (submit)="send($event)"></app-custom-form-input>
  } @else {
  <div class="flex flex-col">
    <span class="px-5 py-3 mt-2 text-4xl font-bold text-center animate-bounce">
      {{ translate("victory", "Victory") }}!
    </span>

    @if(enableLocalStorage){
    <div
      class="flex flex-wrap items-center justify-center px-3 py-2 rounded-2xl bg-purple-heart-500 text-purple-heart-"
    >
      <span class="w-full mb-3 text-3xl text-center lowercase">
        {{ translate("stats", "stats") }}
      </span>
      <div class="flex flex-col w-1/2 p-2 text-center lowercase xl:w-1/4">
        <span class="text-xl">{{ localStorageModel!.stats.totalGame }}</span>
        <span>{{ translate("played", "Played") }}</span>
      </div>
      <div class="flex flex-col w-1/2 p-2 text-center lowercase xl:w-1/4">
        <span class="text-xl">{{ localStorageModel!.stats.totalWin }}</span>
        <span>{{ translate("wins", "wins") }}</span>
      </div>
      <div class="flex flex-col w-1/2 p-2 text-center lowercase xl:w-1/4">
        <span class="text-xl text-nowrap">{{ winPorcentage }}%</span>
        <span>{{ translate("wins", "wins") }}</span>
      </div>
      <div class="flex flex-col w-1/2 p-2 text-center lowercase xl:w-1/4">
        <span class="text-xl">{{ totalAttempts }}</span>
        <span>{{ translate("attempts", "Attempts") }}</span>
      </div>
      <a
        [routerLink]="['/', 'calendar']"
        class="flex gap-2 mt-3 rounded-lg button-inverse"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z"
          />
        </svg>
        {{ translate("previousGames", "Previous games") }}
      </a>
    </div>
    }
  </div>
  }
</div>
