<div class="flex flex-col items-center justify-start">
  <div class="flex gap-5 mb-3">
    <span>03/03/2024</span>
    <span>Attempts:</span>
    <span class="-ml-4">0</span>
  </div>
  @for (currentTry of tries; track currentTry) {

  <div class="flex flex-col mb-4">
    <div class="flex items-center justify-center">
      @for (number of currentTry.numbers; track number) {
      <div class="custom-span custom-span-disabled">{{ number }}</div>
      }
    </div>
    <div class="flex flex-col mx-4 mt-1.5">
      <div class="flex gap-1 text-xl">
        <span>&#8226; {{ currentTry.correctPositionCount }}</span>
        <span>in the correct position</span>
      </div>
      <div class="flex gap-1 text-xl">
        <span>&#8226; {{ currentTry.wrongPositionCount }}</span>
        <span>in the wrong position</span>
      </div>
    </div>
  </div>

  }
  <div class="flex flex-col">
    @if(!correct){
    <form class="flex flex-col">
      <div class="flex">
        <div
          class="custom-span"
          [ngClass]="{ 'custom-span-edit': inputOnFocus == 'number1' }"
          (click)="inputClick('number1')"
        >
          {{ getValue("number1") }}
        </div>
        <div
          class="custom-span"
          [ngClass]="{ 'custom-span-edit': inputOnFocus == 'number2' }"
          (click)="inputClick('number2')"
        >
          {{ getValue("number2") }}
        </div>
        <div
          class="custom-span"
          [ngClass]="{ 'custom-span-edit': inputOnFocus == 'number3' }"
          (click)="inputClick('number3')"
        >
          {{ getValue("number3") }}
        </div>
        <div
          class="custom-span"
          [ngClass]="{ 'custom-span-edit': inputOnFocus == 'number4' }"
          (click)="inputClick('number4')"
        >
          {{ getValue("number4") }}
        </div>
      </div>
      <button
        class="my-4 text-2xl font-semibold uppercase button"
        type="button"
        (click)="send()"
      >
        Send
      </button>
    </form>
    } @else {
    <span class="px-5 py-3 mt-2 text-4xl font-bold text-center animate-bounce"
      >Victory!</span
    >
    }
  </div>
  @if(!correct){
  <div class="flex flex-col">
    <div class="flex">
      <button class="button-number" (click)="buttonClick('1')">1</button>
      <button class="button-number" (click)="buttonClick('2')">2</button>
      <button class="button-number" (click)="buttonClick('3')">3</button>
      <button class="button-number" (click)="buttonClick('4')">4</button>
      <button class="button-number" (click)="buttonClick('5')">5</button>
    </div>
    <div class="flex">
      <button class="button-number" (click)="buttonClick('6')">6</button>
      <button class="button-number" (click)="buttonClick('7')">7</button>
      <button class="button-number" (click)="buttonClick('8')">8</button>
      <button class="button-number" (click)="buttonClick('9')">9</button>
      <button class="button-number" (click)="buttonClick('0')">0</button>
    </div>
  </div>
  } @else if(enableLocalStorage) {
  <div
    class="flex flex-col p-3 mt-2 rounded-2xl bg-purple-heart-500 text-purple-heart-100"
  >
    <span class="mb-3 text-3xl font-semibold text-center">stats</span>
    <div class="flex">
      <div class="flex flex-col p-3">
        <span class="text-2xl font-semibold text-center">
          {{ localStorageModel!.stats.totalGame }}
        </span>
        <span class="text-xl">Games</span>
      </div>

      <div class="flex flex-col p-3">
        <span class="text-2xl font-semibold text-center">
          {{ localStorageModel!.stats.totalWin }}
        </span>
        <span class="text-xl">Wins</span>
      </div>

      <div class="flex flex-col p-3">
        <span class="text-2xl font-semibold text-center">
          {{ winPorcentage }} %
        </span>
        <span class="text-xl">Victory</span>
      </div>

      <div class="flex flex-col p-3">
        <span class="text-2xl font-semibold text-center">
          {{ totalAttempts }}
        </span>
        <span class="text-xl">Attempts</span>
      </div>
    </div>
  </div>
  }
</div>
