<div class="flex flex-col items-center justify-start">
  <form class="flex flex-col">
    <div class="flex">
      <div
        class="custom-span"
        [ngClass]="{ 'custom-span-edit': inputOnFocus == 'number1' }"
        (click)="inputClick('number1')"
      >
        {{ getValue("number1") }}
      </div>
      <div
        class="custom-span"
        [ngClass]="{ 'custom-span-edit': inputOnFocus == 'number2' }"
        (click)="inputClick('number2')"
      >
        {{ getValue("number2") }}
      </div>
      <div
        class="custom-span"
        [ngClass]="{ 'custom-span-edit': inputOnFocus == 'number3' }"
        (click)="inputClick('number3')"
      >
        {{ getValue("number3") }}
      </div>
      <div
        class="custom-span"
        [ngClass]="{ 'custom-span-edit': inputOnFocus == 'number4' }"
        (click)="inputClick('number4')"
      >
        {{ getValue("number4") }}
      </div>
    </div>
    <button
      class="my-4 text-2xl font-semibold uppercase button"
      type="button"
      (click)="send()"
    >
      Generate
    </button>
  </form>

  <div class="flex flex-col">
    <div class="flex">
      <button class="button-number" (click)="buttonClick('1')">1</button>
      <button class="button-number" (click)="buttonClick('2')">2</button>
      <button class="button-number" (click)="buttonClick('3')">3</button>
      <button class="button-number" (click)="buttonClick('4')">4</button>
      <button class="button-number" (click)="buttonClick('5')">5</button>
    </div>
    <div class="flex">
      <button class="button-number" (click)="buttonClick('6')">6</button>
      <button class="button-number" (click)="buttonClick('7')">7</button>
      <button class="button-number" (click)="buttonClick('8')">8</button>
      <button class="button-number" (click)="buttonClick('9')">9</button>
      <button class="button-number" (click)="buttonClick('0')">0</button>
    </div>
  </div>

  @if(link){
  <div class="flex flex-col items-center justify-center">
    <span>Send this link to your friend</span>
    <span>(click to copy)</span>
    <button (click)="copy()" class="underline">{{ link }}</button>
    @if(copied) {
    <span>link copied!</span>
    }
  </div>
  }
</div>
