<div class="flex flex-col items-center justify-start gap-5">
  <app-custom-form-input (submit)="send($event)"></app-custom-form-input>

  @if(link){
  <div class="flex flex-col items-center justify-center">
    <span>{{ translate("sendLink", "Send this link to your friend") }}</span>
    <span>({{ translate("copyLink", "click to copy") }})</span>
    <button (click)="copy()" class="underline">{{ link }}</button>
    @if(copied) {
    <span>{{ translate("copiedLink", "link copied") }}!</span>
    }
  </div>
  }
</div>
