<div class="flex flex-col items-center justify-start">
  <form class="flex flex-col" [formGroup]="formGroup" (ngSubmit)="send()">
    <div class="flex">
      <input
        type="text"
        class="cursor-pointer custom-input"
        maxlength="1"
        formControlName="number1"
        [required]="!isValid('number1') && submitted"
        (click)="inputClick('number1')"
        [ngClass]="{ 'custom-input-focus': inputOnFocus == 'number1' }"
      />
      <input
        type="text"
        class="cursor-pointer custom-input"
        maxlength="1"
        formControlName="number2"
        [required]="!isValid('number2') && submitted"
        (click)="inputClick('number2')"
        [ngClass]="{ 'custom-input-focus': inputOnFocus == 'number2' }"
      />
      <input
        type="text"
        class="cursor-pointer custom-input"
        maxlength="1"
        formControlName="number3"
        [required]="!isValid('number3') && submitted"
        (click)="inputClick('number3')"
        [ngClass]="{ 'custom-input-focus': inputOnFocus == 'number3' }"
      />
      <input
        type="text"
        class="cursor-pointer custom-input"
        maxlength="1"
        formControlName="number4"
        [required]="!isValid('number4') && submitted"
        (click)="inputClick('number4')"
        [ngClass]="{ 'custom-input-focus': inputOnFocus == 'number4' }"
      />
    </div>
    <button
      class="py-3 my-4 text-2xl font-bold uppercase bg-orange-500 rounded-lg text-orange-50 hover:bg-orange-400"
      type="submit"
    >
      Generate
    </button>
  </form>
  @if(link){
  <div class="flex flex-col items-center justify-center text-orange-600">
    <span>Send this link to your friend</span>
    <span>(click to copy)</span>
    <button (click)="copy()" class="underline">{{ link }}</button>
  </div>
  }
</div>
