<div class="flex flex-col items-center justify-center min-h-screen">
  <div class="flex">
    <input type="text" class="custom-input" maxlength="1" value="0" />
    <input type="text" class="custom-input" maxlength="1" value="1" />
    <input type="text" class="custom-input" maxlength="1" value="2" />
    <input type="text" class="custom-input" maxlength="1" value="3" />
    <input type="text" class="custom-input" maxlength="1" value="4" />
    <input type="text" class="custom-input" maxlength="1" value="5" />
    <input type="text" class="custom-input" maxlength="1" value="6" />
    <input type="text" class="custom-input" maxlength="1" value="7" />
    <input type="text" class="custom-input" maxlength="1" value="8" />
    <input type="text" class="custom-input" maxlength="1" value="9" />
  </div>
</div>
